:root {
    --color-main: #0071bc;
    --color-text: #212121;
    --color-text-on-dark: #ffffff;
    --color-dark: #212121;
    --color-gray: #323a45;
    --color-bg: #dce4ef;
    --color-light: #d6d7d9;
    --color-lighter: #f1f1f1;
    --color-white: #fff;
    --color-border:#aeb0b5;
    --color-focus:#3e94cf
}

.dark {
    --color-main: #205493;
    --color-text: #212121;
    --color-text-on-dark: #ffffff;
    --color-dark: #f1f1f1;
    --color-gray: #5b616b;
    --color-bg: #323a45;
    --color-light: #aeb0b5;
    --color-lighter: #112e51;
    --color-white: #323a45;
    --color-border:#212121;
    --color-focus:#3e94cf
}

/* BASE STYLES */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
  color: inherit;
  scroll-behavior: smooth;
}


body{
  line-height: 1.8em;
  font-weight: 400;
  font-size: 16px;
}

a {
  text-decoration: none;
}

/* APP STYLES */
.site-container {
  height: 100vh;
  width: 100vw;
}

.site-container, .app {
  background-color: var(--color-bg);
}

.app {
  padding: 5rem;
}

.container {
  width: 100%;
  color: var(--color-text);
  background-color: var(--color-white);
  display: flex;
  align-items: center;
}

.app-header {
  display: flex;
  align-items: center;
  padding: 16px;
  justify-content: space-around;
  background-color: var(--color-main);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.app-header h1 {
  font-size: 30px;
  color: var(--color-text);
  font-weight: 800;
  text-align: center;
}

.app-header button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

.app-header button > svg {
  fill: var(--color-dark);
  height: 25px;
  width: 25px;
  object-fit: cover;
}

.app-body {
  padding: 16px;
}

.list-item {
  border-bottom: 1px solid  var(--color-border);
  margin-bottom: 12px;
  padding: 8px 16px;
  transition: all 0.2s ease-in-out;
}

.list-item:hover {
  background-color: var(--color-bg);
  cursor: pointer;
}

.list-item h3,
.list-item p span {
  font-weight: 600;
}


.list-item p span {
  color: var(--color-gray);
  display: inline-block;
  margin-right: 8px;
}

.list-item p {
  font-size: 14px;
  color: var(--color-light);
}

.floating-button {
  font-size: 48px;
  position: absolute;
  bottom: 24px;
  right: 16px;
  background: var(--color-main);
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}


.floating-button > svg {
  fill: var(--color-bg);
}

/*table formatting*/
table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  text-indent: initial;
  border-spacing: 2px;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  unicode-bidi: isolate;
  border-color: inherit;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 1rem 2px;
  padding: 0.35em 0.625em 0.75em;
}

tr {
    display: table-row;
    unicode-bidi: isolate;
    border-color: inherit;
}

.edge-table th, .edge-table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #d0d0d0;
}

/*CellPage*/
.cell-card {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.cell-item-header {
  display: flex;
  flex-direction: row;
}

.cell-item-header * {
  padding: 0 2rem 1rem 0;
}

.cl {
  margin-top: 2rem;
}

.cl-count {
  font-style: italic;
}

.cell-item-container{
  text-wrap: balance;
  word-wrap: break-word;
}

.cell-edges-container{
  display: flex;
}

.link-tables{
  max-width: 40%;
}

td{
  padding: 0.5rem;
}

.nowrap{
  text-wrap: nowrap;
}

tr:nth-of-type(even) {
  background-color: var(--color-lighter);
}

tr:nth-of-type(odd) {
  background-color: var(--color-light);
}

/*Browse Box*/
.browse-box{
  background-color: var(--color-light);
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  text-align: center;
  border-radius: 5px;
}

.browse-box a{
  padding: 2rem;
}

/*Search Bar*/
.search-container{
  margin-top: 14rem;
  display: flex;
  flex-direction: column;
}

.search-bar-container, .search-results-container{
  display: flex;
  justify-content: center;
}

.search-bar input{
  line-height: 1.8rem;
  font-size: 1.1rem;
}

.search-bar input, .search-results-list{
  width: 20rem;
}

.search-results-container{
    max-height: 50vh;
    overflow: visible;
}

.search-results-container div{
  box-shadow: 2px 10px 20px 0px;
  background: var(--color-white);
  border-radius: 5px;
  margin-top: .5rem;
  margin-bottom: 4rem;
  overflow: auto;
}

.search-results-list{
    display: flex;
    flex-direction: column;
    list-style: none;
    box-shadow: 5px 10px var(--color-dark);
}

/*Hover color changes*/

.app-header a:hover, .cl-list a:hover {
  color: var(--color-gray)
}

.browse-box a:hover {
  background: var(--color-lighter)
}

.td-link:hover {
  background: var(--color-gray)
}

.search-results-list a:hover{
  background: var(--color-light)
}

/*Query Box*/
.aql-query-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: var(--color-lighter);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.aql-query-input select, .aql-query-input input[type="text"], .aql-query-input button {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

select:focus, input[type="text"]:focus {
    border-color: var(--color-main);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

button {
    background-color: var(--color-main);
    color: var(--color-text);
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    color: var(--color-gray);
}

option {
    padding: 10px;
}

/*Graph*/
#chart-container {
    border: 2px solid var(--color-dark);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 123, 255, 0.2);
    background-color: #ffffff;
    margin: 20px;
}

/*Graph Options*/

.graph-options {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color: var(--color-lighter);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.toggle-button {
    margin: 20px;
    background-color: var(--color-bg);
}

.depth-picker, .edge-direction-picker, .collection-picker {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.graph-options label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.font-size-picker {
    flex-direction: row;
    display: flex;
}

.font-size-picker div {
    padding: 0 1rem;
    margin-bottom: 1rem;
}

.graph-options select {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 300px; /* Adjust width as needed */
}

.collection-picker label {
    margin-right: 10px; /* Space between checkboxes */
}

.checkboxes-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 5px;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox-container input {
    margin-right: 10px;
}

.checkbox-container label {
    font-weight: normal;
}

.export-buttons button {
    background-color: inherit;
    margin: 0 1rem;
    padding: .25rem;
}

@media (max-width: 600px) {
    .graph-options {
        padding: 15px;
    }

    select {
        max-width: 100%; /* Full width on smaller screens */
    }
}

.node-popup {
    backgroundColor: var(--color-bg);
    box-shadow: 0 2px 10px black;
    z-index: 1000;
    position: absolute;
    flex-direction: column;
}

.popup-button {
    color: var(--color-text);
    background-color: var(--color-light);
    text-align: center;
    padding: 1rem;
    border-radius: 0px;
}

.popup-button:hover {
    color: var(--color-gray)
}

.x-button {
    background-color: red;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0px;
}
